<section id="about" class="section about">
  <div class="container">
    <h2 class="section-title">About <span>Us</span></h2>
    <p class="section-subtitle">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>

    <div class="about-wrapper">
      <ol class="about-list">
        <li class="about-item">
          <p class="about-item-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-item">
          <p class="about-item-text">Wide range of course levels and options</p>
        </li>
        <li class="about-item">
          <p class="about-item-text">Multicultural learning environment</p>
        </li>
        <li class="about-item">
          <p class="about-item-text">Comprehensive language support services</p>
        </li>
      </ol>

      <div class="img_box">
        <img
          class="about_img"
          srcset="img/memoji/memoji.png, img/memoji/memoji@2x.png 2x"
          src="img/memoji/memoji.png"
          alt="Portrait of teacher"
          width="254"
          height="211"
        />
      </div>
    </div>
  </div>
</section>
