<section class="section section-reviews" id="reviews">
  <div class="container">
    <h2 class="section-title">What our <span>students</span> say</h2>
    <p class="section-subtitle">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <div class="reviews-slider" aria-roledescription="carousel">
      <button class="nav-btn prev" aria-label="Previous review" type="button">
        <svg
          class="nav-btn-icon prev-icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="/img/icons.svg#icon-checkmark"></use>
        </svg>
      </button>

      <div class="viewport" tabindex="0" aria-live="polite">
        <ul class="review-track">
          <li class="review-item">
            <div class="info-box">
              <div class="review-img-box">
                <img
                  class="review-img"
                  srcset="
                    img/students/img-5@1x.jpg,
                    img/students/img-5@2x.jpg 2x
                  "
                  src="img/students/img-5@1x.jpg"
                  alt="Anna, student"
                  width="50"
                  height="50"
                />
              </div>
              <div class="review-info">
                <h3 class="info-title">Anna</h3>
                <h4 class="info-subtitle">Student</h4>
              </div>
            </div>
            <p class="review-text">
              My experience at the language school has been nothing short of
              amazing. The teachers are dedicated and the learning environment
              is stimulating. I feel more confident in my English skills.
            </p>
          </li>

          <li class="review-item">
            <div class="info-box">
              <div class="review-img-box">
                <img
                  class="review-img"
                  srcset="
                    img/students/img-6@1x.jpg,
                    img/students/img-6@2x.jpg 2x
                  "
                  src="img/students/img-6@1x.jpg"
                  alt="Mykhailo, student"
                  width="50"
                  height="50"
                />
              </div>
              <div class="review-info">
                <h3 class="info-title">Mykhailo</h3>
                <h4 class="info-subtitle">Student</h4>
              </div>
            </div>
            <p class="review-text">
              The school offers a great balance of language theory and practical
              exercises. The personalized feedback from the teachers has helped
              me improve my weak areas.
            </p>
          </li>

          <li class="review-item">
            <div class="info-box">
              <div class="review-img-box">
                <img
                  class="review-img"
                  srcset="
                    img/students/img-7@1x.jpg,
                    img/students/img-7@2x.jpg 2x
                  "
                  src="img/students/img-7@1x.jpg"
                  alt="Victoria, student"
                  width="50"
                  height="50"
                />
              </div>

              <div class="review-info">
                <h3 class="info-title">Victoria</h3>
                <h4 class="info-subtitle">Student</h4>
              </div>
            </div>
            <p class="review-text">
              I love the dynamic and interactive teaching methods used here.
              It's a great place to learn English in a fun and effective way. I
              have definitely seen a big improvement in my language skills.
            </p>
          </li>
        </ul>
      </div>

      <button class="nav-btn next" aria-label="Next review" type="button">
        <svg
          class="nav-btn-icon next-btn"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="/img/icons.svg#icon-checkmark"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
